In [1]:
import pandas as pd
import numpy as np
d={'names':['a','b'],'mark1':[2,3],'marks2':[5,6]}
df=pd.DataFrame(data=d)
df['percentage']=((df['mark1']+df['marks2'])/20)*100
print(df)
df1=df['percentage']
for i in [0,1]:
 print(df1.iloc[i])
 if(df1.iloc[i]>50):
  print('pass')
 else:
  print('fail')

  names  mark1  marks2  percentage
0     a      2       5        35.0
1     b      3       6        45.0
35.0
fail
45.0
fail

In [2]:
df.info

<bound method DataFrame.info of   names  mark1  marks2  percentage
0     a      2       5        35.0
1     b      3       6        45.0>

In [3]:
df.shape

(2, 4)

In [5]:
df.describe

<bound method NDFrame.describe of   names  mark1  marks2  percentage
0     a      2       5        35.0
1     b      3       6        45.0>

In [6]:
df.head(1)

  names  mark1  marks2  percentage
0     a      2       5        35.0

In [7]:
df['mark1']

0    2
1    3
Name: mark1, dtype: int64

In [8]:
df.info

<bound method DataFrame.info of   names  mark1  marks2  percentage
0     a      2       5        35.0
1     b      3       6        45.0>